.DS_Store
.jekyll-metadata
.snakemake
data/
jekyll/_data/
jekyll/_site/
jekyll/assets/images/porcupine/
jekyll/data/
jekyll/cross-species.json
jekyll/genes/
jekyll/genes.json
jekyll/traits/
jekyll.tar.gz
old/
slurm-*.out
