---
layout: base
---

<p class="breadcrumb">
  <a href="{{ site.baseurl }}">Hub</a> : <a href="{{ site.baseurl }}genes">Genes</a>
</p>

<h1>{{ page.title }}</h1>

<h3>Models</h3>

<p>
  All models for this gene with <strong>cis-heritability P-value &lt;0.01</strong> were tested and are shown here.  In each tissue, a gene can have zero, one, or multiple RNA phenotypes for each RNA modality.  After the heritability statistics, subsequent columns show cross-validation performance (R<sup>2</sup> and P-value) of each modeling method.  The best-performing method for each models is used for TWAS.
</p>
 
<table id="models">
  <thead>
    <tr>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="Model number (sorted alphabetically by tissue and modality)">#</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="Tissue">Tissue</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="Modality of RNA variation">Modality</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="RNA phenotype, e.g. the affected isoform or splice junction">RNA phenotype</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="Heritability estimate for the RNA phenotype">h<sup>2</sup></th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="Standard error of the heritability estimate">h<sup>2</sup> SE</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="P-value of the heritability estimate">h<sup>2</sup> P</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="xQTL method R<sup>2</sup>">xQTL R<sup>2</sup></th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="BLUP method R<sup>2</sup>">BLUP R<sup>2</sup></th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="ENET method R<sup>2</sup>">ENET R<sup>2</sup></th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="LASSO method R<sup>2</sup>">LASSO R<sup>2</sup></th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="xQTL method P-value">xQTL P</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="BLUP method P-value">BLUP P</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="ENET method P-value">ENET P</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="LASSO method P-value">LASSO P</th>
    </tr>
  </thead>
  <tbody>
    {% assign models = site.data.gene_models[page.id] %}
    {% for model in models %}
    <tr>
      <td>{{ model.num }}</td>
      <td>{{ model.tissue }}</td>
      <td>{{ model.modality }}</td>
      <td>{{ model.id }}</td>
      <td>{{ model.hsq }}</td>
      <td>{{ model.hsq_se }}</td>
      <td>{{ model.hsq_pv }}</td>
      <td>{{ model.eqtl_r2 }}</td>
      <td>{{ model.blup_r2 }}</td>
      <td>{{ model.enet_r2 }}</td>
      <td>{{ model.lasso_r2 }}</td>
      <td>{{ model.eqtl_pv }}</td>
      <td>{{ model.blup_pv }}</td>
      <td>{{ model.enet_pv }}</td>
      <td>{{ model.lasso_pv }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Trait associations</h3>

<p>
  The numbered columns correspond to the <strong>numbered models</strong> in the table above.
  They contain the <strong>TWAS Z-score</strong> for each trait-model pair.
  <strong>Colors</strong> indicate strong Z-scores (below -2 or above 2): lower negative Z-scores are darker blue, higher positive Z-scores are darker red.
</p>

<table id="assoc">
  <thead>
    <tr>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="Trait">Trait</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="Mean chi<sup>2</sup> across all models for this gene, divided by the mean chi<sup>2</sup> across all models for all genes">Avg chi<sup>2</sup> ratio</th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="Mean chi<sup>2</sup> across all models for this gene">Avg chi<sup>2</sup></th>
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="Highest chi<sup>2</sup> across all models for this gene">Max chi<sup>2</sup></th>
      {% for model in models %}
      <th data-bs-toggle="tooltip" data-bs-placement="top" title="{{ model.tissue }}: {{ model.modality }}: {{ model.id }}">{{ model.num }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {{ content }}
</tbody>
</table>

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('table#models').DataTable({
            lengthChange: false,
            paging: false,
            info: false,
            searching: true,
            scrollX: true,
            language: {
                search: '<i class="fa fa-search" aria-hidden="true"></i>'
            },
            layout: {
                topStart: function() {
                    let div = document.createElement('div');
                    div.className = 'small';
                    div.innerHTML = '<i class="fas fa-info-circle"></i> Hover over column headers to see descriptions';
                    return div;
                }
            },
            columnDefs: [
                { className: "dt-left dt-head-left", targets: [0, 1, 2, 3] },
                { className: "dt-right dt-head-right", targets: [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14] },
            ]
        });
        $('table#assoc').DataTable({
            lengthChange: false,
            paging: false,
            info: false,
            searching: true,
            scrollX: true,
            scrollY: 400,
            order: [[1, 'des']],
            language: {
                search: '<i class="fa fa-search" aria-hidden="true"></i>'
            },
            layout: {
                topStart: function() {
                    let div = document.createElement('div');
                    div.className = 'small';
                    div.innerHTML = '<i class="fas fa-info-circle"></i> Hover over column headers to see descriptions';
                    return div;
                }
            },
            columnDefs: [
                {
                    targets: [0, 1, 2, 3],
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('background-color', 'white')
                    }
                },
                {
                    targets: '_all',
                    createdCell: function (td, cellData, rowData, row, col) {
                        if (cellData < -10) {
                            $(td).css({ 'background-color': '#053061', 'color': 'white' })
                        } else if (cellData < -7) {
                            $(td).css('background-color', '#2166ac')
                        } else if (cellData < -5) {
                            $(td).css('background-color', '#4393c3')
                        } else if (cellData < -3) {
                            $(td).css('background-color', '#92c5de')
                        } else if (cellData < -2) {
                            $(td).css('background-color', '#d1e5f0')
                        } else if (cellData > 10) {
                            $(td).css({ 'background-color': '#67001f', 'color': 'white' })
                        } else if (cellData > 7) {
                            $(td).css('background-color', '#b2182b')
                        } else if (cellData > 5) {
                            $(td).css('background-color', '#d6604d')
                        } else if (cellData > 3) {
                            $(td).css('background-color', '#f4a582')
                        } else if (cellData > 2) {
                            $(td).css('background-color', '#fddbc7')
                        } else {
                            $(td).css('background-color', 'white')
                        }
                    }
                },
                { className: "dt-left dt-head-left", targets: 0 },
            ]
        });
    });
</script>
