---
layout: base
---
 
{{ content }}

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('table#models').DataTable({
            lengthChange: false,
            paging: false,
            info: false,
            searching: true,
            scrollX: true,
            language: {
                search: '<i class="fa fa-search" aria-hidden="true"></i>'
            },
            columnDefs: [
                { className: "dt-left dt-head-left", targets: [0, 1, 2] },
                { className: "dt-right dt-head-right", targets: '_all' },
            ]
        });
        $('table#assoc').DataTable({
            lengthChange: false,
            paging: false,
            info: false,
            searching: true,
            scrollX: true,
            scrollY: 400,
            order: [[1, 'des']],
            language: {
                search: '<i class="fa fa-search" aria-hidden="true"></i>'
            },
            columnDefs: [
                {
                    targets: [0, 1, 2, 3],
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('background-color', 'white')
                    }
                },
                {
                    targets: '_all',
                    createdCell: function (td, cellData, rowData, row, col) {
                        if (cellData < -10) {
                            $(td).css({ 'background-color': '#053061', 'color': 'white' })
                        } else if (cellData < -7) {
                            $(td).css('background-color', '#2166ac')
                        } else if (cellData < -5) {
                            $(td).css('background-color', '#4393c3')
                        } else if (cellData < -3) {
                            $(td).css('background-color', '#92c5de')
                        } else if (cellData < -2) {
                            $(td).css('background-color', '#d1e5f0')
                        } else if (cellData > 10) {
                            $(td).css({ 'background-color': '#67001f', 'color': 'white' })
                        } else if (cellData > 7) {
                            $(td).css('background-color', '#b2182b')
                        } else if (cellData > 5) {
                            $(td).css('background-color', '#d6604d')
                        } else if (cellData > 3) {
                            $(td).css('background-color', '#f4a582')
                        } else if (cellData > 2) {
                            $(td).css('background-color', '#fddbc7')
                        } else {
                            $(td).css('background-color', 'white')
                        }
                    }
                },
                { className: "dt-left dt-head-left", targets: 0 },
            ]
        });
    });
</script>
