div.dataTables_wrapper  div.dataTables_filter {
  width: 100%;
  float: right;
  text-align: right;
  margin-top: -58px;
  margin-right: 8px;
}
div.dataTables_wrapper  div.dataTables_filter input {
  width: 250px;
  border: 0;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  font-size: 15px;
  margin: 0 0 15px 10px;
  border-style: solid;
}

table#pleiotropic th,
table#pleiotropic td { white-space: nowrap; }

/* #wrapper.main div.dataTables_wrapper  div.dataTables_filter {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
#wrapper.main div.dataTables_wrapper  div.dataTables_filter input {
  width: 500px;
  border: 0;
  padding: 10px;
  font-size: 30px;
  margin: 0 0 15px 30px;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: rgba(29,31,129,0.1) 0 0 1em;
} */

/* #wrapper.about {
  max-width: 800px;
  text-align: justify;
  margin: 0 auto;
  font-size: 20px;
} */

table thead th {
  white-space: pre-wrap;
}

table td {
  vertical-align: middle;
}

table#assoc { 
  font-size: 11px;
  margin: 0;
  color: black;
  width: 100%;
}
table#assoc a {
  font-size: 13px;
}

table.flat {
  border: 1px solid #eee;
  font-size: 15px;
}

/* Base */
html, body { height: 100%; }

.navbar-brand {
  font-size: 1.6rem;
}

.nav-link {
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem !important;
  margin: 0.1rem 0.4rem;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.nav-link:not(.btn) {
  border: 1px solid transparent;
  color: #5a3b14 !important;
}

.nav-link:not(.btn):hover {
  border-color: #5a3b14;
  background-color: rgba(110, 71, 23, 0.05);
}

.nav-link.btn {
  background-color: #6e4717;
  color: white !important;
  border: none;
}

.nav-link.btn:hover {
  background-color: #5a3b14;
  color: white !important;
}

.logo {
  float: left;
  font-size: 20px;
}
.logo img {
  vertical-align: text-bottom;
  margin-right: 10px;
}

.container {
  padding-top: 50px;
}

p {
  line-height: 1.7;
}

table .fa-file-archive {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a.border {
  border: 1px solid #dde9fc !important;
  border-radius: 3px;
  padding: 2px 4px;
}

a.border:hover {
  border-color: #5694f1 !important;
  color: #0e4aa3;
}

td em a {
  border-radius: 3px;
  background: #dde9fc;
  border: 1px solid #dde9fc;
  padding: 3px 6px;
  font-style: normal;
  line-height: 30px;
  margin: 0 5px 0 0;
}
td em a:hover {
  border: 1px solid #5694f1;
  color: #0e4aa3;
}
  
#title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px;
}

.description {
  float: right;
  font: italic 14px/1.4em Georgia,serif;
  color: #aaa;
}

.post header {
  text-align:center;

}

h1 {
  text-align: center;
}

p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr {
  display: block;
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eee;
}

code {
  color: #000;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

th,td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr>td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
  background: #fcfcfc;
}

#footer {
  padding: 40px 0 0 0;
  margin-top: 100px;
}

.text-center {
  text-align: center;
}

.breadcrumb a {
  color: #5a3b14;
  border: 1px solid #5a3b14;
  border-radius: 0.25rem;
  padding: 0rem 0.5rem;
  margin: 0 0.4rem;
  transition: all 0.2s ease-in-out;
}

.breadcrumb a:hover {
  background-color: rgba(110, 71, 23, 0.1);
}

